#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-terminal
Name[en_US]=HTTP Screenshot
Name=HTTP Screenshot
Exec=gnome-terminal -e "bash -c \\"cd /usr/local/pentos/apps/httpscreenshot;./httpscreenshot.py; exec bash\\""
Icon=gnome-terminal
Categories=Other
