#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-terminal
Name[en_US]=John the Ripper
Name=John the Ripper
Exec=gnome-terminal -e "bash -c \\"cd /opt/john-1.8.0-jumbo-1/run;./john; exec bash\\""
Icon=gnome-terminal
Categories=Other
